form.form {
	width: 100%;
	max-width: 800px;
	margin-top: 20px;
	animation: fadeInUp 0.6s ease;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
	display: flex;
	backdrop-filter: blur(2px);
	flex-direction: column;
}

form.form div.form-input, form.form div.form-submit {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	text-align: center;
	justify-content: center;
}

form.form div.form-input label {
	color: rgba(255, 255, 255, 1);
	font-weight: 600;
}

form.form div.form-input input, form.form div.form-input textarea {
	border: 1px solid rgba(0, 0, 0, 1);
	resize: none;
	font-family: 'Roboto', Arial;
	padding: 8px;
}

form.form div.form-submit input {
	border: 1px solid rgba(255, 100, 100, 1);
	font-family: 'Ubuntu', monospace;
	padding: 8px;
}

form.form div.form-submit input[type="submit"] {
	width: 25%;
	background-color: rgba(255, 100, 100, 0);
	border: 2px solid rgba(255, 30, 30, 1);
	color: rgba(0, 0, 0, 1);
	cursor: pointer;

	transition: width 0.2s, color 0.2s, background 0.2s, border 0.2s;
}

form.form div.form-submit input[type="submit"]:hover {
	width: 50%;
	background-color: rgba(255, 100, 100, 1);
	border: 2px solid rgba(255, 30, 30, 0);
	color: rgba(255, 255, 255, 1);

	transition: width 0.2s, color 0.2s, background 0.2s, border 0.2s;
}
