form.form {
	width: 100%;
	max-width: 800px;
	margin-top: 20px;
	animation: fadeInUp 0.6s ease;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
	display: flex;
	backdrop-filter: blur(2px);
	flex-direction: column;
}

form.form div.form-input, form.form div.form-submit {
	display: flex;
	flex-direction: column;
}

form.form div.form-input label {
	color: rgba(255, 255, 255, 1);
	font-weight: 600;
}

form.form div.form-input input {
	
}

form.form div.form-submit input {
	
}
