body {
	background-color: rgba(0, 0, 0, 1);
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	background-image: url('../img/bricks-background.png');
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
	box-sizing: border-box;
	overflow-x: hidden;
}

#page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
	box-sizing: border-box;
	overflow-x: hidden;
}

/* TEXT ALIGN */
*[align="center"] {
	text-align: center;
}
*[align="left"] {
	text-align: left;
}
*[align="right"] {
	text-align: right;
}

/* BORDER RADIUS */
*[radius="cubic"] {
	border-radius: 0;
}
*[radius="rounded"] {
	border-radius: 5px;
}
*[radius="rounded-high"] {
	border-radius: 8px;
}
*[radius="circled"] {
	border-radius: 50px;
}
